.cart-button1{
    padding: 10px;
    border-radius: 5px;
    background-color: brown;
    color: white;

}
.cart-button2{
    padding: 10px;
    border-radius: 5px;
    background-color: brown;
    color: white;
}